<style>
h2 {
	font-size: 20px; 
   	font-family: Verdana, Arial, Helvetica, sans-serif; 
   	color: #333366; 
   	text-align: center;
   	background-image:url(https://garden.spoonflower.com/c/13673901/p/f/m/7fkU8QKHfnMzASdLTald-mht9Weyvxnfeqx0ocd6xK_T4ZZ_R1B_ddukGA/Peach%20Fuzz%20%20ffbe98%20Pantone%20Color%20of%20the%20Year%202024%20Peach%20Fuzz%20pantonecoty2024.jpg);
	}
</style>
